.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--shadow);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--signin-form);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    position: relative;
}


.toggleButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1100;
}

.toggleButton {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid var(--text-color);
}


.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid var(--close-button-border);
    border-radius: 50%;
    font-size: 20px;
    color: var(--close-button);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    color: var(--close-button-hover);
    transform: scale(1.1);
}
